
@font-face {
    font-family: 'flubberregular';
    src: url('../fonts/flubber_-webfont.eot');
    src: url('../fonts/flubber_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/flubber_-webfont.woff') format('woff'),
         url('../fonts/flubber_-webfont.ttf') format('truetype'),
         url('../fonts/flubber_-webfont.svg#flubberregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#scoreboard {
	background-color: blue;
	color: #fff12a;
	z-index: 10001;
	display: none;
	width: 490px;
	padding: 5px;
	text-align: left;
	border: 2px solid #333;
	border-radius: 25px;
	box-shadow: 0 2px 2px #000, /*bottom external highlight*/
				inset 0 -2px 2px rgba(0, 0, 0, 0.5), /*bottom internal shadow*/
				inset 0 2px 2px rgba(255, 255, 255, 0.7);
}

#scoreboard div {
	overflow: auto;
}

#scoreboard h2 {
	text-align: center;
	font-size: 25px;
}

#scores {
	margin: 5px;
	width: 480px;
	background-color: #fff12a;
	border-radius: 11px;
}

#scores tr td, #scores tr th {
	background-color: blue;
	text-align: center;
	font-family: flubberregular, flubber, arial, sans-serif;
	font-size: larger;
	padding-top: 6px;
}

#scores thead tr:first-child th:first-child {
	border-top-left-radius: 10px
}

#scores thead tr:first-child th:last-child {
	border-top-right-radius: 10px
}

#scores tbody tr:last-child td:first-child,
#scores tbody tr:last-child th:first-child {
	border-bottom-left-radius: 10px
}

#scores tbody tr:last-child td:last-child,
#scores tbody tr:last-child th:last-child {
	border-bottom-right-radius: 10px
}

.overlay .close {
	background-image: url(/images/close.png);
	position: absolute;
	right: -5px;
	top: -5px;
	cursor: pointer;
	height: 35px;
	width: 35px;
}

@media screen and (min-width:650px) {
	#scoreboard {
		width: 580px;
		padding: 1.5em;
	}
	#scores {
		margin: 20px;
		width: 540px;
	}
	.overlay .close {
		right: -10px;
		top: -10px;
	}
}

body {
	background-image: url('../images/background.png');
	background-repeat: repeat;
	color: #fff12a;
}

body.instructions {
	background-image: url('../images/background_white.png');
	color: #6845ff;
}

h1, h2 {
	text-align: center;
	font-family: flubberregular, flubber, arial, sans-serif;
}

h1 {
	font-size: 48px;
	color: white;
}

body.instructions h1 {
	color: #6845ff;
}

h2 {
	font-size: 30px;
}

.center {
	margin: 0 auto;
	text-align: center;
}

table.control td {
	padding: 0.4em;
	line-height: 150%;
	font-family: flubberregular, flubber, arial, sans-serif;
	font-size: 22px;
	font-weight: bolder;
}

p.desc {
	font-size: 26px;
	max-width: 800px;
	font-family: flubberregular, flubber, arial, sans-serif;
	font-weight: bold;
}

span.border {
	background-color: #a894ff;
	color: black;
	border: 1px solid black;
	font-size: x-large;
	font-family: serif;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#container {
	position: relative;
	color: black;
	border: 8px solid;
	border-radius: 8px;
}

#container canvas {
	background-color: white;
}

#menu {
	top: 195px;
	position: absolute;
	width: 100%;
	z-index: 2;
}

#menu button {
	display: none;
}

#option-form {
	display: none;
}

#option-form div {
	background-color: rgb(255, 114, 0);
	color: yellow;
	border-radius: 25px;
	font-family: flubberregular, flubber, arial, sans-serif;
	padding: 10px 0px 5px 50px;
	width: 200px;
	margin: 0 auto;
	font-size: 14pt;
	margin-top: 10px;
	text-align: left;
}

#name-form {
	display: none;
}

#name-form div {
	color: yellow;
	background-color: rgb(255, 114, 0);
	border-radius: 25px;
	font-family: flubberregular, flubber, arial, sans-serif;
	padding: 10px 0px 5px 0px;
	width: 380px;
	margin: 0 auto;
}

#name-form div label {
	font-size: 28pt;
	vertical-align: baseline;
}

#name-form div input {
	background-color: orange;
	color: yellow;
	border: 0;
	font-size: 20px;
	margin-top: 3px;
	margin-left: 8px;
	border-radius: 10px;
	padding: 2px 6px;
	width: 11em;
	vertical-align: top;
}

#name-form input[type='submit'] {
	-webkit-appearance: none;
	appearance: none;
}

button, .button {
	background-color: blue;
	border-radius: 15px;
	box-shadow: 0 2px 2px #000, /*bottom external highlight*/
				inset 0 -2px 2px rgba(0, 0, 0, 0.5), /*bottom internal shadow*/
				inset 0 2px 2px rgba(255, 255, 255, 0.7);
	border: none;
	color: yellow;
	font: normal 28px flubberregular, flubber, arial, sans-serif;
	padding: 9px 10px 5px 10px;
	margin: 6px auto;
	height: 44px;
}

button:focus, .button:focus {
	outline: none;
}

button::-moz-focus-inner, .button::-moz-focus-inner {
	border: 0;
}

button:active, .button:active {
	padding: 11px 10px 3px 10px;
	box-shadow: inset 0 -2px 2px rgba(255, 255, 255, 0.5), /*bottom internal shadow*/
				inset 0 2px 2px rgba(0, 0, 0, 0.7);
}